

*{
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Inconsolata', monospace;
}

body {
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}


/* header */

.header {
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 30px 50px 10px 50px;
  background-color: #000;
}

.website-title {
  font-size: 16px;
  color: #fff;
  font-weight: 900;
}

.top-menu {
  display: flex;
  flex-direction: row;
}

.menu-name {
  font-size: 16px;
  color: #fff;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
}

.menu-link:visited {
  color: #fff;
}


/* top-section */
.top-section {
  height: 330px;
  background-color: #000;
}

.introduce {
  padding-top: 50px;
  padding-left: 60px;
}

.sentense {
  color: #fff;
  font-weight: 900;
  margin-top: 40px;
  font-size: 20px;
}

.sentense-1 {
  margin-top: 1em;
  font-size: 16px;
  color: #fff;
  padding-left: 40px;
}

.sentense-2 {
  color: #fff;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 40px;
}

.logo {
  padding-left: 40px;
}

.banner {
  margin-right: 5px;
}

.sentense-3 {
  color: #fff;
  font-size: 18px;
  margin-top: 1em;
}

.project {
  margin-top: 45px;
  color: #ADADAD;
  font-size: 24px;
  font-weight: 900;
}

span {
  font-weight: 900;
  background-color: rgba(131, 245, 239, 0.4);
}

small {
  color: #fff;
  font-size: 12px;
}

/* primary - card_list section */
.primary {
  padding-top: 10vh;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 30vh;
}

.card-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40%, auto));
	column-gap: 5%;
  row-gap: 5%;
}

.card-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
  cursor: pointer;
}
.card-image {
	height: 0;
	padding-bottom: 65%;
	background-color: lightgray;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.card-image img {
	display: none;
}

.card-desc {
  background-color: #fff;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
}

.project-title {
  font-size: 22px;
  color: #272727;
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 10px;
}

.in-desc {
  font-size: 16px;
  color: #444;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 300px;
  /* padding-left: 5px; */
  line-height: 24px;
}

/* footer */
footer {
  width: 100%;
  height: 10vh;
  background-color: #999;
}

.footer_p {
  text-align: center;
  padding-top: 45px;
}

/* modal */
.modal_content {
  padding: 30px 30px;
}

.modal_notice {
  display: block;
  text-align: center;
  color: #444;
  margin-bottom: 30px;
}

.modal_project_title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.modal_project_desc {
  margin-bottom: 30px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  line-height: 26px;
  font-size: 16px;
  padding: 0px 100px;
}

.modal_project_stack {
  margin-bottom: 10px;
  font-weight: 700;
}

.modal_img {
  width: 60vw;
  height: 60vh;
  display: block;
  margin: 50px auto;
}

.modal_banner:nth-child(2) {
  margin-left: -5px;
}

.modal_banner:nth-child(3) {
  margin-left: -5px;
}

.modal_banner:nth-child(4) {
  margin-left: -5px;
}

.modal_flex_content {
  display: block;
  margin: 50px auto;
}

.modal_flex_content_mobile {
  display: block;
  margin: 50px auto;
}

.modal_img_bankproject {
  display: inline-block;
  
  margin: 50px 100px;
  width: 35%;
  height: 35%;
}

@media screen and (max-width:1024px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(450px, auto));
    column-gap: 2%;
  }
}


/* javascript */
.popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 80vw;
  height: 90vh;
  background-color: #fff;
  overflow: auto;
  border: 1px solid #ADADAD;
}

.modal {
  display: none;
}

.body_scroll {
  overflow: hidden;
}
