*{
  box-sizing: border-box;
  margin: 0;
}

.header {
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 30px 50px 10px 50px;
  background-color: #000;
}

.website-title {
  font-size: 16px;
  color: #fff;
  font-weight: 900;
}

.top-menu {
  display: flex;
  flex-direction: row;
}

.menu-name {
  font-size: 16px;
  color: #fff;
}

.menu-link {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
}

.menu-link:visited {
  color: #fff;
}
